body {
  margin: 0;
  padding: 0;
}

/* 
 ==== Header styling
*/
.header {
  width: 100%;
  height: 65px;
  background-color: rgb(248, 249, 250);
  margin-bottom: 4.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 4rem;
  justify-content: space-between;
  border-bottom: 5px solid rgb(226, 212, 212);
}
.header .logo img {
  height: 40px;
  width: auto;
}
.header .profile .profile-h {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .profile img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  margin: 0px 10px;
  border-radius: 40px;
  opacity: 0.5;
}

/* 
====
*/
.phonebook-manager {
  text-align: left;
  width: 60%;
  margin: auto;
  min-height: calc(100vh - 100px);
}
.phonebook-manager tbody td {
  padding: 10px;
}
.numbers {
  width: 100%;
}
.phonebook-manager thead {
  background-color: aqua;
  color: white;
  padding: 10px 15px;
  text-align: left;
  width: 100%;
}
.phonebook-manager thead th {
  padding: 12px 15px;
}
.phonebook-manager button {
  background: transparent;
  cursor: pointer;
  border: 0px;
  transition: 500ms ease;
}
.phonebook-manager button:focus {
  outline: none;
}

/*  */
.person {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

/* 
==== Footer */
.footer {
  background: black;
  height: 10%;
  padding: 10px 20px;
  color: white;
  text-align: center;
}

button.action-btn {
  background-color: green;
  margin: 20px 0px;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  /* border: none; */
}

/*  */

/* Buttons */
button {
  border-width: 0px;
}
button:focus {
  outline: none;
}
button.goBack {
  padding: 2px 20px;
  color: green;
  margin: 10px 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  font-size: 21px;
}

/* Register page */
.RegisterPage {
  display: block;
  width: 500px;
  margin: auto;
  padding: 10px;
}
.RegisterPage .image-aside {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  align-items: flex-end;
}
.RegisterPage .image-aside :first-child {
  min-width: 200px;
}
.RegisterPage .image-aside > div:nth-child(2) {
  padding: 10px;
  padding-left: 20px;
  width: 100%;
}

.input-h {
  display: block;
  margin: 10px 0;
}
.input-h label {
  color: rgb(148, 143, 143);
  opacity: 0.4;
  transform: scale(0.7);
  margin-bottom: 0px;
}
.input-h input {
  display: block;
  border-width: 0px;
  border-color: whitesmoke;
  border-bottom: 2px solid whitesmoke;
  padding: 10px;
  padding-top: 0px;
  width: 100%;
}
input:focus {
  outline: none;
}

/* Register page */
.ViewContact {
  display: block;
  width: 500px;
  margin: auto;
  padding: 10px;
}
.ViewContact .view-aside {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  align-items: flex-end;
  margin-bottom: 20px;
}
.ViewContact .view-aside > :first-child {
  min-width: 230px;
}
.ViewContact .view-aside > :first-child img {
  width: 100%;
}

.ViewContact .view-aside > div:nth-child(2) {
  padding: 10px;
  padding-left: 20px;
  width: 100%;
}
.ViewContact .view-aside button {
  background: transparent;
  color: rgba(134, 103, 0, 0.801);
}
.view-aside .btns-h {
  display: flex;
  align-items: center;
}
.view-aside .btns-h > * {
  flex-grow: 1;
}

.ViewContact .content {
  display: flex;
  align-items: center;
}
.ViewContact .content .mdi {
  margin: 10px 5px;
  font-size: 22px;
  font-weight: bold;
  margin-right: 20px;
}
.ViewContact .content-v {
}
.ViewContact .content-v span {
  display: block;
}
.ViewContact .content-v span:nth-child(2) {
  font-size: 12px;
  opacity: 0.7;
}

.mdi-delete {
  color: red;
}

.signin {
  margin-left: 70%;
  color: #000;
}
.signin:hover {
  color: green;
}
.card {
  float: left;
}
.card-img {
  width: 30%;
  float: left;
}
.card-body {
  width: 60%;
  float: left;
}
